/* Muhammad H. Sareini */

/* clear browser formatting and set font -------------------------------------------------------------------------------------------------------*/
* {
	font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
}

/* uniform headings -----------------------------------------------------------------------------------------------------------------------------*/
#heading {
    text-align: center;
    margin: 1em;
}

hr {
    margin: 0, 1em;
}
/* clear email hyperlink format ---------------------------------------------------------------------------------------------------------------*/

.email {
    color: #fff;
}

.contact p a {
    color: #000;
}

/* navigation bar style ---------------------------------------------------------------------------------------------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    margin:0;
    buffer:0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #fff;
}

li a:hover {
    background-color: #111;
}

li a:active {
    background-color: #b642f4;
}

/* footer style ---------------------------------------------------------------------------------------------------------------*/
footer {
    display: block;
    padding: 10px;
    color: white;
    background-color: #333;
    clear: left;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    }

/* this fixes the scrolling footer */
#scrolling_footer {
    position: static;
}

footer p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 0.8em;
}

/* home page style */
.home {
    text-align: center;
    min-height: 100%;
}

h3 {
    color: FireBrick;
}

/* contact page style ---------------------------------------------------------------------------------------------------------------*/
.contact {
    text-align: center;
}

/* courses page style */
.class {
    margin: 1em 0;
    padding: 0 2em; 
}

.courses {
    margin-bottom: 2em;
}

.course_name {
    font-size: 24px;
    color: #171777;
}

.course_description {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5em;
}